<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>


  <% if params['nombre'].nil? || params['nombre'].empty? %>
  <h1>Hola desconocido!</h1>
  <%else%>
  <h1>Hola <%=@nombre.capitalize%>!</h1>
  <%end%>



</body>
</html>
